@font-face {
  font-family: 'Ailerons Typeface';
  src: url('Ailerons-Typeface.otf');
}
@font-face {
    font-family: 'nidus_sansregular';
    src: url('nidsans-webfont.eot');
    src: url('nidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('nidsans-webfont.woff2') format('woff2'),
         url('nidsans-webfont.woff') format('woff'),
         url('nidsans-webfont.ttf') format('truetype'),
         url('nidsans-webfont.svg#nidus_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
}
.motto {
  text-align: center;
  font-size: 50px;
  font-family: 'Ailerons Typeface' ,'Saira Semi Condensed';
  width: 60%;
  margin-left: 20%;
  margin-top: 15%;
  color: white;
}
.saying {
  text-align: center;
  font-family: 'Saira Semi Condensed';
  position: relative;
  bottom: 30px;
  font-size: 23px;
  color: white;
}
/* Start of About ME*/
.AboutMe {
  width: 100%;
  min-height: 50vh;
  background-color: white;
  display: block;
  overflow: hidden;
}
#title {
  font-family: 'Exo 2';
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 4%;
}
#abtp {
  font-family: 'Encode Sans Condensed';
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4em;
  width: 70%;
  margin-left: 15%;
}

html {cursor: url("https://docs.google.com/drawings/d/e/2PACX-1vRiBKZ0fT0vyroCx9t-ycVktqFif_MUjttBl92_LdvJlVVHUoEwEDf9J3h1LD7nCzGw3uScCZEbhdFD/pub?w=960&h=720") 2 2, auto;}
