hr {
  background-color: black;
}
.motto {
  text-align: center;
  font-size: 50px;
  font-family: 'Saira Semi Condensed';
  width: 60%;
  margin-left: 20%;
  margin-top: 15%;
  color: white;
}
.saying {
  text-align: center;
  font-family: 'Permanent Marker';
  position: relative;
  bottom: 30px;
  font-size: 27px;
  color: white;
}
/* Start of About ME*/
.AboutMe {
  width: 100%;
  min-height: 50vh;
  background-color: white;
  display: block;
  overflow: hidden;
}
#title {
  font-family: 'Lato';
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
  margin-bottom: 4%;
}
#abtp {
  font-family: 'Exo 2';
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4em;
  width: 70%;
  margin-left: 15%;
}
/* Boxes on other stylesheet */
