/* Base Format */
@font-face {
  font-family: 'CaviarDreams';
  src: url('CaviarDreams.ttf');
}
body {
  background: linear-gradient(to right, #009DFF, #00FAFF) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
ul {
  margin: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.logo {
  width: 90px;
  length: 90px;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  padding-top: 1%;
  font-family: 'Saira Semi Condensed','CaviarDreams';
  font-size: 20px;
  list-style-type: none;
  transition: 0.5s;
  z-index: 2;
}
.nav li {
  padding: 15px 0 15px 0;
  margin-bottom: 2%;
}
.nav a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.nav li:hover {
  color: black;
}
.onScroll1 {
  background-color: deepskyblue;
  padding-top: 0.5%;
}
@media only screen and (max-width: 768px) {
  .nav {
    font-size: 7px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .nav {
    font-size: 14px;
  }
}
