.pres-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#pres {
  margin-top: 5%;
  width: 63vw;
  height: 78vh;
  border: 8px solid black;
  border-radius: 20px;
  background-color: grey;
}
