body {
  background: url("https://itmeo.com/public/webgradients_png/019%20Malibu%20Beach.png");
  background-position: center;
  margin: 0;
}
.op {
  margin-left: 10vw;
  width: 80vw;
  min-height: 50vh;
  text-align: center;
  background: linear-gradient(to right, #3ABFFE, #B3F6F9);
  font-family: 'Exo 2';
  font-size: 22px;
}
#info {
  padding: 3%;
  padding-top: 5%;
}
.MyPast {
  width: 100%;
  min-height: 150vh;
  margin: 0;
  display: block;
  overflow: hidden;
}
#title2{
  margin: 4% 0 2% 5%;
  font-family: 'Lato';
  font-size: 20px;
}
#mpp{
  margin: 0 5% 3% 5%;
  font-family: 'Exo 2';
  font-size: 20px;
  line-height: 1.4em;
}
.boxes {
  text-align: center;
  list-style-type: none;
  width: 40vw;
  height: 80vh;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-top: 2%;
  border-radius: 15px;
  background-position: center;
  transition: .5s;
  opacity: 0.2;
  transition: .75s;
  text-align: center;
  position: relative;
}
.boxes p {
  background-color: white;
  opacity: 0;
  transition: 2s;
  position: relative;
  bottom: 50;
  left: 0;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 30px;
}
.boxes:hover p {
  opacity: 1;
}
.boxes:hover {
  opacity: 1;
}
.boxes1 {
  background-image: url(kitchen.png);
  position: relative;
}
.boxes2 {
  background-image: url(Bedside.jpg);
}
.boxes3 {
  background-image: url(Office.jpg);
}
.boxes4 {
  background-image: url(Camping.jpg);
}
