body {
  background: url("https://itmeo.com/public/webgradients_png/019%20Malibu%20Beach.png");
  background-position: center;
  margin: 0;
}
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
.op {
  margin-left: 10vw;
  width: 80vw;
  min-height: 50vh;
  text-align: center;
  background: linear-gradient(to right, #3ABFFE, #B3F6F9);
  font-family: 'Exo 2';
  font-size: 22px;
}
#info {
  padding: 3%;
  padding-top: 5%;
}
.MyPast {
  width: 100%;
  min-height: 150vh;
}
#title2{
  margin: 4% 0 2% 5%;
  font-family: 'Lato';
  font-size: 20px;
}
#mpp {
  margin: 0% 10% 5%;
  border-radius: 15px;
  font-family: 'Exo 2';
  line-height: 1.4em;
}
#boxes-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.boxes {
  float: left;
  width: 33vw;
  height: 66vh;
  margin-bottom: 2%;
  text-align: center;
  list-style-type: none;
  border-radius: 15px;
  background-position: center;
  background-repeat: none;
  text-align: center;
  transition: .75s;
  cursor: pointer;
  bacground-size: 100%;
}
.boxes p {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: gainsboro;
  font-family: 'Montserrat';
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  cursor: pointer;
  text-align: center;
}
.boxes:hover p {
  opacity: 1;
}
.boxes:hover {
  opacity: 1;
}
.boxes1 {
  background-image: url(Kitchen.jpg);
}
.boxes2 {
  background-image: url(Bedside.jpg);
}
.boxes3 {
  background-image: url(Office.jpg);
}
.boxes4 {
  background-image: url(Camping.jpg);
}
